services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025" # smtp
      - "8025:8025" # web ui